.elections_container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0px;
    background-color: #adb5bd0e;
}

.left_box{
    height: 100%;
    width: 35%;
}

.right_box{
    height: 100%;
    width: 100%;
}   


.election_details{
    width: 92%;
    height: 90%;
}

.fit_content{
    width:fit-content;
    height: fit-content;
}

.table_height{
    height: 150px;
}

.operations{
    min-height: 450px;
}

