.newElection_container{
    height: 100%;
}

.form_container{
    width: 70%;
    margin: auto;
}

/* input[type="file"] {
    display: none;
} */

.register_switch{
    left: 335px;
}


.pointer:hover{
    cursor: pointer;
}